*.bak
*.zip
*.7z
*.rar
__fixed*/
site_fixed_images*/
*.zip
__reset/
new-images/
images/_old/
_*tmp*/
new-images/
images/_old/
_*tmp*/

# Local binaries (served via GitHub Releases)
KameHa_*.zip
KameHa_*.exe

# Local temp/build
_fixed_tmp/
downloads.tmp
builds/
*.tmp
